<div class="checkout-container" *ngIf="!registerForm.valid">

	<h2 class="main-header">CHECKOUT</h2>

	<app-empty-cart *ngIf="!myCart.length"></app-empty-cart>

	<div *ngIf="myCart.length" class="checkout-wrapper">
		<form class="form-section" [formGroup]="registerForm">
			<div class="checkout-form">
				<h2>Contact Information</h2>

				<div class="inner-form-content">
					<label class="label" for="name">Email Address</label>
					<div class="input-wrapper">
						<i class="fas fa-envelope"></i><input formControlName="email" autocomplete="off" class="input form-control" id="name" type="text" name="email" placeholder="name@example.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
					</div>


					<label class="label" for="name">Name</label>
					<div class="input-wrapper">
						<i class="fas fa-signature"></i><input formControlName="name" autocomplete="off" class="input form-control" id="email" type="text" name="name" placeholder="John Rick" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
					</div>

				</div>
				<input type="checkbox" name="checkbox" id="checkbox"> 
				<label class="label-checkbox" for="checkbox">Receive promotional emails</label>
			</div>

			<div class="checkout-form">
				<h2>Payment Information</h2>
				<span><i class="fas fa-shield-alt"></i>This is a secure SSL encrypetd system payment</span>

				<div class="checkout-payment">
					<div class="payment-methods-container">
						<ul class="payment-methods">
							<li class="payment-method" (click)="setPaymentMethod('visa')"><img class="payment-method-icon" src="{{'../../assets/imgs/visa.svg'}}"></li>
							<li class="payment-method" (click)="setPaymentMethod('paypal')"><img class="payment-method-icon" src="{{'../../assets/imgs/paypal.svg'}}"></li>
							<li class="payment-method" (click)="setPaymentMethod('bitcoin')"><img class="payment-method-icon" src="{{'../../assets/imgs/bitcoin.svg'}}"></li>
						</ul>
					</div>

					<div class="inner-form-content payment-details" *ngIf="payMethod === 'visa'">
						<label class="label" for="card-number">Card Number</label>
						<div class="input-wrapper">
							<i class="fas fa-credit-card"></i><input formControlName="cardNum" autocomplete="off" class="input form-control" id="card-number" type="tel" name="card number" placeholder="1234 1234 1234 1234" [ngClass]="{ 'is-invalid': submitted && f.cardNum.errors }">
						</div>


						<div class="payment-container">
							<div class="payment-info">
								<label class="label" for="exp-date">Expiration Date</label>
								<div class="input-wrapper">
									<i class="far fa-credit-card"></i><input formControlName="cardExp"  autocomplete="off" class="input form-control" id="exp-date" type="tel" name="expiration date" placeholder="MM / YY" [ngClass]="{ 'is-invalid': submitted && f.cardExp.errors }">
								</div>
							</div>

							<div class="payment-info">
								<label class="label" for="cvv-code">CVV Code</label>
								<div class="input-wrapper">
									<i class="fas fa-unlock-alt"></i><input formControlName="cardCVV"  autocomplete="off" class="input form-control" id="cvv-code" type="tel" name="cvv" placeholder="CVV" [ngClass]="{ 'is-invalid': submitted && f.cardCVV.errors }">
								</div>
							</div>
						</div>
					</div>

					<div class="inner-form-content payment-details" *ngIf="payMethod === 'paypal'">
						<app-secondary-loader *ngIf="!innerImgsLoaded"></app-secondary-loader>
						<div class="paypal-container" [ngClass]="innerImgsLoaded ? 'page-loaded' : 'page-loading'">
							<div class="paypal-wrapper">
								<i class="fas fa-shopping-basket"></i>
								<span>${{subtotal.toFixed(2)}}</span>
								<p>Continue your purchase with paypal.</p>
								<button type="button" class="btn"><a href="http://www.paypal.com" target="_blank"> <img src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_960_720.png" class="inner-imgs" alt="" (load)="updateImgState(item)"> </a></button>
							</div>
						</div>
					</div>

					<div class="inner-form-content payment-details" *ngIf="payMethod === 'bitcoin'">
						<app-secondary-loader *ngIf="!innerImgsLoaded"></app-secondary-loader>
						<div class="bitcoin-container" [ngClass]="innerImgsLoaded ? 'page-loaded' : 'page-loading'">
							<div class="bitcoin-wrapper">
								<!-- <span>$75,00</span> -->
								<!-- <p> Process your payment with <img src="imgs/bitpay.svg" alt="" class=""> </p> --> 
								<div class="purchase-bitcoin-value">
									<img src="imgs/bitpay.svg" src="{{'../../assets/imgs/bitpay.svg'}}" alt="" class="inner-imgs" (load)="updateImgState(item)">
									<i class="fab fa-bitcoin"></i>
									<p>{{BTC}} BTC</p>
									<i class="fas fa-sync-alt" (click)="updateBTCPrice()"></i>
									<i class="fas fa-info-circle" placement="left" ngbPopover="Bitcoin and other cryptocurrencies that BitPay accepts are secure currencies for the internet. You can pay without handing out sensitive financial information, and you don't need an account. Access the official site for more details" popoverTitle="BITPAY"></i>
								</div>
								<img src="{{'../../assets/imgs/qr_' + currentQR + '.png'}}" alt="" class="inner-imgs" (load)="updateImgState(item)">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="confirm-payment"><button class="btn btn-confirm" (click)="onSubmit()">Confirm payment</button></div>
		</form>
		<aside class="order-summary">
			<h2>Order Summary</h2>
			<ul class="order-summary-list">
				<li *ngFor="let product of myCart" class="order-summary-item">
					<div class="order-item-info">
						<div class="order-info-middle"><span class="summary-item-qtt">1 x </span></div>
						<div class="order-info-middle"><h4 class="summary-item-name">{{product.name}}</h4></div>
						<div class="order-info-middle"><span class="summary-item-price">${{product.price.toFixed(2)}}</span></div>
					</div>
				</li>
			</ul>
			<div class="summary-total"><span>Total ${{subtotal.toFixed(2)}}</span></div>
		</aside>
	</div>
</div>


<div class="chechout-process-purchase-modal" *ngIf="registerForm.valid">
	<div class="checkout-success-modal">
		<div class="anim">
			<div class="checkout-success-modal-icon">
				<div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
					<div class="swal2-success-circular-line-left" style="background-color: #278065;"></div>
					<span class="swal2-success-line-tip"></span>
					<span class="swal2-success-line-long"></span>
					<div class="swal2-success-ring"></div> 
					<div class="swal2-success-fix" style="background-color: #278065;"></div>
					<div class="swal2-success-circular-line-right" style="background-color: #278065;"></div>
				</div>
			</div>
		</div>
		<div class="checkout-success-modal-info">
			<div class="checkout-success-info">
				<div class="checkout-success-modal-title">Awesome job!</div>
				<div class="checkout-success-modal-text">You did a great job and now you should celebrate!</div>
				<button class="btn continue">Continue</button>
			</div>
		</div>
	</div>
</div>