<div class="checkout-container">
		
		<h2>CHECKOUT</h2>

		<div *ngIf="myCart.length" class="checkout-wrapper">
			<section class="form-section">
				<form class="checkout-form">
					<h2>Contact Information</h2>

					<div class="inner-form-content">
						<label class="label" for="name">Email Address</label>
						<div class="input-wrapper">
							<i class="fas fa-envelope"></i><input autocomplete="off" class="input" id="name" type="text" name="email" placeholder="name@example.com">
						</div>

						
						<label class="label" for="email">Name</label>
						<div class="input-wrapper">
							<i class="fas fa-signature"></i><input autocomplete="off" class="input" id="email" type="text" name="name" placeholder="John Rick">
						</div>

					</div>
					<input type="checkbox" name="checkbox" id="checkbox"> 
					<label class="label-checkbox" for="checkbox">Receive promotional emails</label>
				</form>

				<form class="checkout-form">
					<h2>Payment Information</h2>
					<span><i class="fas fa-shield-alt"></i>This is a secure SSL encrypetd system payment</span>

					<div class="checkout-payment">
						<div class="payment-methods-container">
							<ul class="payment-methods">
								<li class="payment-method" (click)="setPaymentMethod('visa')"><img class="payment-method-icon" src="{{'../../assets/imgs/visa.svg'}}"></li>
								<li class="payment-method" (click)="setPaymentMethod('paypal')"><img class="payment-method-icon" src="{{'../../assets/imgs/paypal.svg'}}"></li>
								<li class="payment-method" (click)="setPaymentMethod('bitcoin')"><img class="payment-method-icon" src="{{'../../assets/imgs/bitcoin.svg'}}"></li>
							</ul>
						</div>

						<div class="inner-form-content payment-details" *ngIf="payMethod === 'visa'">
							<label class="label" for="card-number">Card Number</label>
							<div class="input-wrapper">
								<i class="fas fa-credit-card"></i><input autocomplete="off" class="input" id="card-number" type="tel" name="email" placeholder="1234 1234 1234 1234">
							</div>


							<div class="payment-container">
								<div class="payment-info">
									<label class="label" for="exp-date">Expiration Date</label>
									<div class="input-wrapper">
										<i class="far fa-credit-card"></i><input autocomplete="off" class="input" id="exp-date" type="tel" name="email" placeholder="MM / YY">
									</div>
								</div>

								<div class="payment-info">
									<label class="label" for="cvv-code">CVV Code</label>
									<div class="input-wrapper">
										<i class="fas fa-unlock-alt"></i><input autocomplete="off" class="input" id="cvv-code" type="tel" name="email" placeholder="CVV">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="confirm-payment"><button class="btn btn-confirm">Confirm payment</button></div>
			</section>
			<aside class="order-summary">
				<h2>Order Summary</h2>
				<ul class="order-summary-list">
					<li *ngFor="let product of myCart" class="order-summary-item">
						<div class="order-item-info">
							<div class="order-info-middle"><span class="summary-item-qtt">1 x </span></div>
							<div class="order-info-middle"><h4 class="summary-item-name">{{product.name}}</h4></div>
							<div class="order-info-middle"><span class="summary-item-price">${{product.price}}</span></div>
						</div>
					</li>
				</ul>
				<div class="summary-total"><span>Total ${{subtotal}},00</span></div>
			</aside>
		</div>
	</div>