<div class="checkout-container">
		
		<h2 class="main-header">CHECKOUT</h2>

		<app-empty-cart *ngIf="!myCart.length"></app-empty-cart>

		<div *ngIf="myCart.length" class="checkout-wrapper">
			<section class="form-section">
				<form class="checkout-form">
					<h2>Contact Information</h2>

					<div class="inner-form-content">
						<label class="label" for="name">Email Address</label>
						<div class="input-wrapper">
							<i class="fas fa-envelope"></i><input autocomplete="off" class="input" id="name" type="text" name="email" placeholder="name@example.com">
						</div>

						
						<label class="label" for="email">Name</label>
						<div class="input-wrapper">
							<i class="fas fa-signature"></i><input autocomplete="off" class="input" id="email" type="text" name="name" placeholder="John Rick">
						</div>

					</div>
					<input type="checkbox" name="checkbox" id="checkbox"> 
					<label class="label-checkbox" for="checkbox">Receive promotional emails</label>
				</form>

				<form class="checkout-form">
					<h2>Payment Information</h2>
					<span><i class="fas fa-shield-alt"></i>This is a secure SSL encrypetd system payment</span>

					<div class="checkout-payment">
						<div class="payment-methods-container">
							<ul class="payment-methods">
								<li class="payment-method" (click)="setPaymentMethod('visa')"><img class="payment-method-icon" src="{{'../../assets/imgs/visa.svg'}}"></li>
								<li class="payment-method" (click)="setPaymentMethod('paypal')"><img class="payment-method-icon" src="{{'../../assets/imgs/paypal.svg'}}"></li>
								<li class="payment-method" (click)="setPaymentMethod('bitcoin')"><img class="payment-method-icon" src="{{'../../assets/imgs/bitcoin.svg'}}" (click)="getRandomNumber()"></li>
							</ul>
						</div>

						<div class="inner-form-content payment-details" *ngIf="payMethod === 'visa'">
							<label class="label" for="card-number">Card Number</label>
							<div class="input-wrapper">
								<i class="fas fa-credit-card"></i><input autocomplete="off" class="input" id="card-number" type="tel" name="card number" placeholder="1234 1234 1234 1234" (change)="validateCard($event.target.value)" [ngClass]="isValidCC ? 'valid' : (isValidCC === false ? 'invalid' : 'initial')">
							</div>


							<div class="payment-container">
								<div class="payment-info">
									<label class="label" for="exp-date">Expiration Date</label>
									<div class="input-wrapper">
										<i class="far fa-credit-card"></i><input autocomplete="off" class="input" id="exp-date" type="tel" name="expiration date" placeholder="MM / YY">
									</div>
								</div>

								<div class="payment-info">
									<label class="label" for="cvv-code">CVV Code</label>
									<div class="input-wrapper">
										<i class="fas fa-unlock-alt"></i><input autocomplete="off" class="input" id="cvv-code" type="tel" name="cvv" placeholder="CVV" >
									</div>
								</div>
							</div>
						</div>

						<div class="inner-form-content payment-details" *ngIf="payMethod === 'paypal'">
							<div class="paypal-container">
								<div class="paypal-wrapper">
									<i class="fas fa-shopping-basket"></i>
									<span>${{subtotal.toFixed(2)}}</span>
									<p>Continue your purchase with paypal.</p>
									<button type="button" class="btn"><a href="http://www.paypal.com" target="_blank"> <img src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_960_720.png" alt=""> </a></button>
								</div>
							</div>
						</div>

						<div class="inner-form-content payment-details" *ngIf="payMethod === 'bitcoin'">
							<div class="bitcoin-container">
								<div class="bitcoin-wrapper">
									<!-- <span>$75,00</span> -->
									<!-- <p> Process your payment with <img src="imgs/bitpay.svg" alt="" class=""> </p> --> 
									<div class="purchase-bitcoin-value">
										<img src="imgs/bitpay.svg" src="{{'../../assets/imgs/bitpay.svg'}}" alt="" class="">
										<i class="fab fa-bitcoin"></i>
										<p>0,0072 BTC</p>
										<i class="fas fa-sync-alt"></i>
										<i class="fas fa-info-circle"></i>
									</div>
									<img src="{{'../../assets/imgs/qr_' + currentQR + '.png'}}" alt="" class="">
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="confirm-payment"><button class="btn btn-confirm">Confirm payment</button></div>
			</section>
			<aside class="order-summary">
				<h2>Order Summary</h2>
				<ul class="order-summary-list">
					<li *ngFor="let product of myCart" class="order-summary-item">
						<div class="order-item-info">
							<div class="order-info-middle"><span class="summary-item-qtt">1 x </span></div>
							<div class="order-info-middle"><h4 class="summary-item-name">{{product.name}}</h4></div>
							<div class="order-info-middle"><span class="summary-item-price">${{product.price.toFixed(2)}}</span></div>
						</div>
					</li>
				</ul>
				<div class="summary-total"><span>Total ${{subtotal.toFixed(2)}}</span></div>
			</aside>
		</div>
	</div>