$fonts: (
	primary: "Montserrat",
	menu: "Mansalva",
	header: 'Apex Mk3'
);

$colors: (
	bg: rgb(28, 29, 31),
	accent: rgba(224, 28, 73, 1)
);

$rpsn: (
	small: 620px,
	rpsn-nav: 767px,
	small-medium: 800px,
	medium: 960px,
	medium-high: 1080px,
	high: 1366px
)
