/* You can add global styles to this file, and also import other style files */
@import url(~fullpage.js/dist/fullpage.min.css);
@import url('https://fonts.googleapis.com/css?family=Mansalva|Montserrat&display=swap');

@import 
  './functions',
  './variables',
  './mixins';

html, body { height: 100%;}
body { margin: 0; font-family: font(primary), "Helvetica Neue", sans-serif; }

.navbar-bg {
	font-family: font(primary);
	background-color: transparent !important;
}

.first-page-bg {
	background: url("../assets/imgs/4rQCSg.jpg") !important;
	margin: 0 auto;
}
