/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Mansalva|Montserrat&display=swap');

@import 
  './functions',
  './variables',
  './mixins';

*, *before, *:after {
	box-sizing: border-box;
}

html { 
	height: 100%;
	overflow: hidden;
}

body { 
	margin: 0; 
	font-family: font(primary), "Helvetica Neue", sans-serif; 
	background-color: color(bg);
	perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

a, a:hover, a:focus {
	color: inherit !important;
	text-decoration: none;
}

// header {
// 	display: flex;
// 	justify-content: space-between;
// 	color: #fff;
//     position: relative;
//     transform-style: inherit;
//     width: 100%;
//     overflow: hidden;
//     position: relative;
// }

header {
	display: flex;
    justify-content: space-between;
    color: #fff;
    position: absolute !important;
    transform-style: inherit;
    width: 100%;
    height: 50%;
    overflow: hidden;
    z-index: 99999;
}

header .my-nav {
    position: absolute !important;
    top: 0;
    height: 80px;
    width: 100%;
}

.navbar-toggler {
    padding: 0 !important;
    border: inherit !important;
}

.nav-item {
	transition: all .2s ease;
}

.nav-item:hover {
	color: #e01c49;
	transition: all .2s ease;
}

.navbar-bg {
	font-family: font(primary);
	background-color: transparent !important;
}

.hero-image {
	display: flex;
	justify-content: space-between;
	color: #fff;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    overflow: hidden;
    position: relative;
}


.hero-image, .hero-image:before{
    background: 50% 50% / cover;
}
.hero-image::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("../assets/imgs/computer-background-mobile.png");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -9999;
    min-height: 100vh;
    overflow: hidden;
}

.hero-image * { 
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

.header-title {
	text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    padding: 0 10px;
    font-weight: bolder;
    color: #fff;
    font-size: 12pt;
    margin: 0 auto;
}

.home-container {
	color: #fff;
	margin: 2em auto 0;
	padding: 0 10px;
	z-index: 1;
	overflow-x: hidden;
	margin: 0 auto;
	width: 100%;
}

.home-container h2 {
	text-align: center;
	color: #000;
	margin: 10px auto;
}

.merchandise-list {
	width: 100%;
	display: block;
	margin:  0 auto;
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.merchandise-item {
	display: block;
	width: 100%;
	height: 120px;
	background-color: rgba(255,255,255,.4);
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.4);
	margin: 20px 0 0;
	overflow: hidden;
	border-radius: 10em;
	padding: 5px;
	transition: box-shadow .4s ease !important;
}

.merchandise-item:last-child {
	margin: 20px 0;
}

.merchandise-item:hover {
	box-shadow: 0 5px 18px 0 rgba(0,0,0,.6);
	transition: box-shadow .8s;
}

.merchandise-image-container {
	display: inline-block;
	overflow: hidden;
	width: 110px;
	height: 110px;
	border-radius: 50%;
}

.merchandise-image-container img {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
	transition: transform .5s ease;
	transform: scale(1.0);
}

.merchandise-image-container:hover img {
	transition: transform .5s ease;
	transform: scale(1.1);
}

.merchandise-type {
	display: inline-block;
	position: relative;
	width: calc(98% - 110px);
	height: 100%;
	/*vertical-align: middle;*/
}

.merchandise-type p {
	color: #000;
	width: 100%;
	padding: 0 10px;
	display: block;
	position: absolute;
	bottom: 46%;
	right: 55%;
	transform: translate(50%, 50%);
	font-size: 14pt;
	text-align: center;
	margin: 0 auto;
	font-weight: bolder;
}