/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Mansalva|Montserrat&display=swap');

@import 
  './functions',
  './variables',
  './mixins';

@mixin small {
	@media (min-width: #{rpsn(small)}) {
		@content;
	}
}

@mixin medium {
	@media (min-width: #{rpsn(medium)}) {
		@content;
	}
}

*, *before, *:after {
	box-sizing: border-box;
}

html { 
	height: 100%;
	overflow: hidden;
}

body { 
	margin: 0; 
	font-family: font(primary), "Helvetica Neue", sans-serif; 
	background-color: color(bg);
	perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

a, a:hover, a:focus {
	color: inherit !important;
	text-decoration: none;
}

// header {
// 	display: flex;
// 	justify-content: space-between;
// 	color: #fff;
//     position: relative;
//     transform-style: inherit;
//     width: 100%;
//     overflow: hidden;
//     position: relative;
// }

.header-home {
	display: flex;
    justify-content: space-between;
    color: #fff;
    position: absolute !important;
    transform-style: inherit;
    width: 100%;
    height: 50%;
    overflow: hidden;
    z-index: 99999;
}

.header-not-home {
	display: flex;
    justify-content: space-between;
    color: #fff;
    transform-style: inherit;
    width: 100%;
    overflow: hidden;
    z-index: 99999;
}

nav {
	font-family: font(primary);
}

header .home-nav {
    position: absolute !important;
    margin-top: 10px;
    width: 100%;
	background-color: transparent !important;
}

header .not-home-nav {
    width: 100%;
	background-color: rgb(19, 2, 6) !important;
}

.navbar-toggler {
    padding: 0 !important;
    border: inherit !important;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("http://vcmediapartners.com/media/images/hamburger-white.svg") !important;

}

.nav-item {
	transition: all .2s ease;
}

.nav-item:hover {
	color: #e01c49;
	transition: all .2s ease;
}

.dropdown-toggle::after {
    content: none;
}

.hero-image {
	display: flex;
	justify-content: space-between;
	color: #fff;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}

.hero-image, .hero-image:before{
    background: 50% 50% / cover;
}

.hero-image::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("../assets/imgs/computer-background-mobile.png");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -9999;
    min-height: 100vh;
    overflow: hidden;

    @include small {
		background-image: url("../assets/imgs//computer-background.png");
	}
}

.hero-image * { 
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

.header-title {
	text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    padding: 0 10px;
    font-weight: bolder;
    color: #fff;
    font-size: 12pt;
    margin: 0 auto;
}

.home-container {
	color: #fff;
	margin: 2em auto 0;
	padding: 0 10px;
	z-index: 1;
	overflow-x: hidden;
	margin: 0 auto;
	width: 100%;
}

.home-container h2 {
	text-align: center;
	color: #000;
	margin: 1.5em auto;
	font-weight: bolder;
}

.merchandise-list {
	width: 100%;
	display: block;
	margin:  0 auto 3em;
	list-style-type: none;
	padding: 0 30px;
	text-align: center;

	@include small {
		padding: 0;
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		grid-gap: 10px;
	}

	@include medium {
		grid-template-columns: repeat(4, auto);
		grid-template-rows: repeat(4, auto);
	}
}

.merchandise-item {
	display: block;
	width: 100%;
	height: 120px;
	background-color: rgba(255,255,255,.4);
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.4);
	margin: 20px 0 0;
	overflow: hidden;
	transition: box-shadow .4s ease !important;

	@include small {
		margin: 0;

		&:hover .merchandise-image {
			transition: transform .5s ease;
			transform: scale(1.1);
			filter: blur(1px);
		}
	}
}

.merchandise-item:hover {
	box-shadow: 0 5px 18px 0 rgba(0,0,0,.6);
	transition: box-shadow .8s;
}

.merchandise-image-container {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	float: left;
	overflow: hidden;
}

.merchandise-image-overlay {
	width: 100%;
	height: 100%;
}

.merchandise-image-overlay:before {
    position: absolute;
    top: 20px;
    right: 30px;
    bottom: 20px;
    left: 30px;
    border: 1px solid rgba(255,255,255,.5);
    content: '';
    transform: scale(1.05);
    opacity: 0;
    z-index: 3;
    transition: all .5s ease;

    @include medium {
    	right: 20px;
    	left: 20px;
    }
}

.merchandise-image-overlay:hover:before {
	opacity: 1;
    transition: all .5s ease;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    z-index: 3;
}

.merchandise-image-container img {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
	transition: transform .5s ease;
	transform: scale(1.0);
}

.merchandise-image-container:hover img {
	transition: transform .5s ease;
	transform: scale(1.1);
}

.merchandise-type {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	/*vertical-align: middle;*/
}

.merchandise-type p {
	color: #fff;
	width: 100%;
	padding: 0 30px;
	display: block;
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translate(50%, 50%);
	font-size: 14pt;
	text-align: center;
	margin: 0 auto;
	font-weight: bolder;
}

/* products page */

.products-container {
	color: #fff;
	z-index: 1;
	overflow-x: hidden;
	margin: 0 auto;
	width: 100%;
	padding: 0 30px
}

.products-container h2 {
	text-align: center;
	color: #000;
	margin: 10px auto;
	text-transform: uppercase;
}

.breadcrumbs {
	width: 100%;
	padding: 5px;
	color: #000;
	font-size: 10pt;
	line-height: 15px;
	margin: 30px auto;
	text-align: center;
	border-bottom: 1px solid #d3ced2;
	padding-bottom: 10px;
}

.sorty-by {
	width: 100%;
	border: none;
}

.orderby {
   display: block;
    width: 100%;
    border: none;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 10pt;
}

.products-store-list {
	padding: 0;
	margin: 15px auto;
	list-style-type: none;
	text-align: center;
}

.buy {
	position: absolute;
	height: 100%;
	width: 100%;
}

.product-store-item {
    width: 100%;
    margin: 0 auto 30px;
    /*max-width: 500px;*/
    display: block;
    text-align: center;
    clear: both;
}

.product-item-wrapper { 
	width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 420px; */
    max-height: 100%;
    text-align: center;
    box-shadow: 0 15px 45px -15px rgba(0,0,0,.3);
    clear: both;
}

.product-store-image-container {
	position: relative;
    width: 100%;
    /*height: 320px !important;*/
    /*min-height: 320px;*/
    overflow: hidden;
}

.this-product-store-image {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
	transition: transform .5s ease;
	transform: scale(1.0);
}

.this-product-store-image:hover {
	transition: transform .5s ease; 	
	transform: scale(1.1);
}

.product-store-infos-container {
	width: 100%;
	height: 30%;
	padding: 10px;
	color: #000;
	clear: both;
}

.product-store-infos-container span, h4 {
	font-size: 12pt;
	font-weight: bolder;
	vertical-align: super;
}

.btn-buy {
	width: 100%;
    font-size: 10pt; 
    background-color: color(accent);
    color: #fff;
    border-radius: 0 !important;
    transition: background-color .5s ease;
}

.btn-buy:hover {
    background-color: rgb(199, 26, 66);
    color: #fff;
    transition: background-color .5s ease;
}

// shop page

.shop-container {
	color: #fff;
	z-index: 1;
	overflow-x: hidden;
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
}

.shop-container h2 {
	text-align: center;
	color: #000;
	margin: 10px auto;
}

.shop-item {
	display: block;
	width: 100%;
	color: #000;
	margin: 10px auto;
}

.shop-item-image {
	width: 100%;
	overflow: hidden;
	display: block;
}

.shop-item-image .item-image {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
	
}

.shop-item-image .item-image:hover {
	
}

.shop-item-infos {
	width: 100%;
	display: block;
}

.shop-item-infos h2 {
	font-size: 18pt;
}

.shop-item-infos .price {
	font-size: 22pt;
	font-weight: bolder;
	display: block;
	color: #e01c49;
	text-align: center;
}

.extra-info {
	display: block;
	width: 100%;
	margin: 20px auto;
	text-align: center;
}

#category-highlight {
	color: #e01c49;
	font-weight: bold;
}

.item-about {
	display: block;
	width: 100%;
	color: #000;
}

ul.nav.nav-pills.justify-content-start::after {
    content: " ";
    width: 100%;
    border-bottom: 1px solid #d3ced2;
}

.nav-pills .nav-item {
    width: 50%;
    text-align: center;
}

.nav-pills .nav-item .nav-link {
    background-color: transparent;
    color: #000;
    border-radius: 0;
}

.nav-pills .nav-item .active {
    border-bottom: 1px solid color(accent);
    color: color(accent);
}

.tab-content {
    padding: 10px;
}

.product-content {
	margin: 10px 0;
}

.product-content-item {

}

.reviews-container {
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.review {
	// box-shadow: 0 4px 8px -4px rgba(0,0,0,.5);
    padding: 10px 0;
    // margin: 10px 0;
}

li.review::after {
    content: " ";
    position: absolute;
    left: 0;
    border-bottom: 2px solid rgba(211, 206, 210, .5);
    width: 100%;
}

.user-data {

}

.user-profile-pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
    text-align: left;
    background: linear-gradient(90deg, rgba(224,28,65,1) 0%, rgba(224,28,73,1) 35%, rgba(224,28,157,1) 100%);
}

.profile-pic {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}

.user-review {
	width: calc(100% - 50px);
	display: inline-block;
	vertical-align: middle;
}

.username {
	float: left;
	font-weight: bolder;
	margin: 0 0  0 10px;
}

.review-date {
	float: right;
	color: #737373;
}

.review-rating {
	text-align: right;
    width: 100%;
    display: block;
}

.user-message {
	text-align: left;
    width: 100%;
    display: block;
}