<header>
  <nav class="my-nav navbar navbar-expand-md navbar-bg navbar-light bg-light">
    <span><a routerLink="">BEATZ</a></span>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" role="button">
            HOME
          </a>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
            PRODUCTS
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" (click)="$event.preventDefault()" routerLink="products/vst-expansion">VST Expansion</a>
            <a class="dropdown-item" href="#" (click)="$event.preventDefault()" routerLink="products/drum-kits">Drum Kits</a>
            <a class="dropdown-item" href="#" (click)="$event.preventDefault()" routerLink="products/midi-kits">MIDI Kits</a>
            <a class="dropdown-item" href="#" (click)="$event.preventDefault()" routerLink="products/loops">Loop/Sample Packs</a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a class="nav-link" style="cursor: pointer" role="button">
            ABOUT-ME
          </a>
        </li>

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a class="nav-link" style="cursor: pointer" role="button">
            CONTATCS
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="my-container">
  <router-outlet></router-outlet>
</div>