<header class="header-home">
  <nav class="home-nav navbar navbar-expand-md navbar-light bg-light">
    <span class="logo"><a routerLink="">BEATZ</a></span>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse full-height" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto full-height">
        <li class="nav-item" ngbDropdown display="dynamic">
            <div class="nav-link-wrapper">
              <a class="nav-link full-height" routerLink="#" style="cursor: pointer" role="button">
                <div class="dropdown">
                  <button class="dropbtn">
                    PRODUCTS
                  </button>
                  <div class="dropdown-content">
                    <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="/products" [queryParams]="{catalog:'vst-expansion'}">VST Expansion</a>
                    <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="/products" [queryParams]="{catalog:'drum-kit'}">Drum Kit</a>
                    <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="/products" [queryParams]="{catalog:'midi-kit'}">MIDI Kit</a>
                    <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="/products" [queryParams]="{catalog:'loops'}">Loops & Samples</a>
                  </div>
                </div>
              </a>
            </div>
        </li>

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <div class="nav-link-wrapper">
            <a class="nav-link full-height" routerLink="/about" style="cursor: pointer" role="button">
              ABOUT
            </a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <div class="nav-link-wrapper">
            <a class="nav-link full-height" routerLink="/contacts" style="cursor: pointer" role="button">
              CONTACTS
            </a>
          </div>
        </li>
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          {{getCartItems()}}
          <div class="nav-link-wrapper">
            <a class="nav-link full-height" routerLink="/contacts" style="cursor: pointer" role="button">
              <div class="dropdown">
                <button class="dropbtn">
                  <i class="material-icons">
                    shopping_cart
                  </i>
                </button>
                <div *ngIf="myCart.length > 0" class="dropdown-content">
                  <span *ngFor="let item of myCart" href="#">{{item.name}}</span>
                </div>
                <div *ngIf="myCart.length === 0" class="dropdown-content">
                  <span>Your cart is empty</span>
                </div>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="my-container">
  <router-outlet></router-outlet>
</div>