<div class="products-container">
	<h2>{{category}}</h2>
	<div class="breadcrumbs">
		<span class="breadcrumb-item">Home</span>
		<span class="breadcrumb-item active">Drum Kit</span>
	</div>
	<form class="sorty-by" method="get"	>
		<select name="orderby" class="orderby" aria-label="Shop order">
			<option value="popularity">Sort by popularity</option>
			<option value="rating">Sort by average rating</option>
			<option value="date" selected="selected">Sort by latest</option>
			<option value="price">Sort by price: low to high</option>
			<option value="price-desc">Sort by price: high to low</option>
		</select>
		<input type="hidden" name="paged" value="1">
		<input type="hidden" name="product_cat" value="vstexpansions">
	</form>
	<ul *ngIf="product" class="products-store-list">
		<li *ngFor="let item of product" class="product-store-item">
			<div class="product-item-wrapper">
				<a [routerLink]="['/shop', item.id]" [queryParams]="{tag:catalog}">
					<div class="product-store-image-container">
						<!-- <div class="buy"><i class="fab fa-spotify"></i></div> -->
						<img src={{item.images.default.medium}} alt="" class="this-product-store-image">
					</div>
				</a>
				<div class="product-store-infos-container">
					<h4>{{item.name}}</h4>
					<span>${{item.price}}</span>
					<button class="btn btn-buy">ADD TO CART</button>
				</div>
			</div>
		</li>
	</ul>
</div>