<div class="products-container"  id="top">
	<h2>{{category}}</h2>
	<div class="breadcrumbs">
		<span class="breadcrumb-item"><a routerLink="/"> Home </a></span>
		<span class="breadcrumb-item active">{{category}}</span>
	</div>
	<form class="sorty-by" method="get"	(change)="sortItems($event.target.value)">
		<select name="orderby" class="orderby" aria-label="Shop order">
			<option value="rating">Sort by average rating</option>
			<option value="date" selected="selected">Sort by latest</option>
			<option value="price">Sort by price: low to high</option>
			<option value="price-desc">Sort by price: high to low</option>
		</select>
	</form>
	<ul *ngIf="pagedItems" class="products-store-list">
		<li *ngFor="let item of pagedItems" class="product-store-item">
			<div class="product-item-wrapper">
				<a [routerLink]="['/shop', item.id]" [queryParams]="{tag:catalog}">
					<div class="product-store-image-container">
						<!-- <div class="buy"><i class="fab fa-spotify"></i></div> -->
						<img src="{{'../../assets/imgs/products/' + item.id + '-art-600x600.png'}}" alt="" class="this-product-store-image">
					</div>
				</a>
				<div class="product-store-infos-container">
					<h4>{{item.name}}</h4>
					<span>${{item.price}}</span>
					<button class="btn" (click)="addToCart(item)" [ngClass]="item.added === undefined || item.added === false ? 'btn-add' : 'btn-added'">{{ item.added === undefined || item.added === false ? 'ADD TO CART' : 'ADDED' }}</button>
				</div>
			</div>
		</li>
	</ul>

	<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
		<li [ngClass]="{disabled:pager.currentPage === 1}">
			<a (click)="goToTop($event.target.classList)" (click)="setPage(pager.currentPage - 1)" [ngClass]="{activeLink:pager.currentPage === 1}">Previous</a>
		</li>
		<li *ngFor="let page of pager.pages" class="page-item" [ngClass]="{activePage:pager.currentPage === page}">
			<a (click)="goToTop($event.target.classList)" (click)="setPage(page)" [ngClass]="{activeLink:pager.currentPage === page}">{{page}}</a>
		</li>
		<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
			<a (click)="goToTop($event.target.classList)" (click)="setPage(pager.currentPage + 1)" [ngClass]="{activeLink:pager.currentPage === pager.totalPages}">Next</a>
		</li>
	</ul>
</div>