<app-main-loader *ngIf="!mainImgLoaded"></app-main-loader>

<div class="shop-container" [ngClass]="mainImgLoaded ? 'page-loaded' : 'page-loading'">
	<h2 class="main-header">SHOP</h2>
	<div class="breadcrumbs">
		<span class="breadcrumb-item"> <a routerLink="/">Home</a> </span>
		<span class="breadcrumb-item"> <a routerLink="/products" [queryParams]="{catalog:catalog}">{{product[0].category}}</a> </span>
		<span class="breadcrumb-item active"> {{product[0].name}} </span>
	</div>
	<div class="shop-item">
		<div class="warning-message-popup" [ngClass]="product[0].added === undefined || product[0].added === false ? 'not-show' : 'show'">
			<p class="warning-message">This product is already in your cart.</p>
		</div>
		<div class="shop-item-image">
			<img id="product-image" (mousemove)="zoomIn($event)" (mouseout)="zoomOut()" src="{{'../../beats/assets/imgs/products/' + product[0].id + '-art-900x800.png'}}" alt="{{product[0].name}}" class="item-image" (load)="updateImgState(product[0], 'main')" (error)="updateImgState(product[0], 'main', 'ERROR', $event.target)">
		</div>
		<div class="shop-item-infos">
			<h2 class="product-name"> {{product[0].name}} </h2>
			<span class="price">${{product[0].price.toFixed(2)}}</span>

			<div class="extra-info">
				<span id="category">Category: <span id="category-highlight"><a routerLink="/products" [queryParams]="{catalog:catalog}"> {{product[0].category}}</a></span></span>
			</div>
			<button class="btn btn-slim" (click)="addToCart(product[0])" [ngClass]="product[0].added === undefined || product[0].added === false ? 'btn-add' : 'btn-added'">{{ product[0].added === undefined || product[0].added === false ? 'ADD TO CART' : 'ADDED' }}</button>
		</div>
	</div>
</div>
<div class="item-about" [ngClass]="mainImgLoaded ? 'page-loaded' : 'page-loading'">
	<ngb-tabset type="pills">
		<ngb-tab title="Description">
			<ng-template ngbTabContent>
				This <b>Item</b> contain:
				<ul *ngIf="product" class="product-content">
					<li *ngFor="let content of product[0].content" class="product-content-item"> {{content}} </li>
				</ul>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Reviews ({{product[0].reviews.length}}) ">
			<ng-template ngbTabContent>
			<app-secondary-loader *ngIf="!innerImgsLoaded"></app-secondary-loader>
				<ul *ngIf="product[0].reviews" class="reviews-container" [ngClass]="innerImgsLoaded ? 'page-loaded' : 'page-loading'">
					<li *ngFor="let review of product[0].reviews" class="review">
						<div class="user-data">
							<div class="user-profile-pic">
								<img src={{review.profile_pic}} alt="User Profile Picture" class="profile-pic" (load)="updateImgState({}, 'inner')" (error)="updateImgState({}, 'inner', 'ERROR', $event.target)">
							</div>
							<div class="user-review">
								<div class="review-data">
									<span class="username"> {{review.username}} </span>
									<span class="review-date"> {{formatDate(review.date)}} </span>
								</div>
							</div>
						</div> 
						<div class="review-message">
							<span class="review-rating"  id={{review.id}} (OnCreateDirective)="createRating(review.rating, review.id)">
							</span>
							<p class="user-message"> {{review.message}} </p>
						</div>
					</li>
				</ul>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>