<div class="shop-container">
	<h2>SHOP</h2>
	<div class="breadcrumbs">
		<span class="breadcrumb-item">Home</span>
		<span class="breadcrumb-item">Drum Kit</span>
		<span class="breadcrumb-item active">Metro Boomin - Want Some More N*gga (Drum Kit)</span>
	</div>
	<div class="shop-item">
		<div class="shop-item-image">
			<img id="product-image" onmousemove="zoomIn(event)" onmouseout="zoomOut()" src={{product[0].images.shop.medium}} alt="" class="item-image">

		</div>
		<div class="shop-item-infos">
			<h2> {{product[0].name}} </h2>
			<span class="price">${{product[0].price}}</span>

			<div class="extra-info">
				<span id="category">Category: <span id="category-highlight"> {{product[0].category}} </span></span>
			</div>

			<button class="btn btn-buy btn-slim"><a href="#">ADD TO CART</a></button>
		</div>
	</div>
</div>
<div class="item-about">
	<ngb-tabset type="pills">
		<ngb-tab title="Description">
			<ng-template ngbTabContent>
				This <b>Item</b> contain:
				<ul *ngIf="product" class="product-content">
					<li *ngFor="let content of product[0].content" class="product-content-item"> {{content}} </li>
				</ul>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Reviews">
			<ng-template ngbTabContent>
				<ul *ngIf="product[0].reviews" class="reviews-container">
					<li *ngFor="let review of product[0].reviews" class="review">
						<div class="user-profile-pic">
							<img src={{review.profile_pic}} alt="" class="profile-pic">
						</div>
						<div class="user-review">
							<div class="review-data">
								<span class="username"> {{review.username}} </span>
								<span class="review-rating"> {{review.rating}} </span>
								<span class="review-date"> {{review.date}} </span>
							</div>
							<div class="review-message">
								<p> {{review.message}} </p>
							</div>
						</div>
					</li>
				</ul>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>