<div class="hero-image"><h5 class="header-title">Start your new project right now.</h5></div>

<div class="home-container">
	<h2>EXPLORE OUR PRODUCTS</h2>
	<ul class="merchandise-list">
		<li class="merchandise-item">
			<a routerLink="/products" [queryParams]="{catalog:'vst-expansion'}">
				<div class="merchandise-image-container">
					<img class="merchandise-image" src="../../beats/assets/imgs/vst.png" alt="VST Expansion">
				</div>
				<div class="merchandise-type">
					<div class="merchandise-image-overlay"><p>VST EXPANSION</p></div>
				</div> 
			</a>
		</li>
		<li class="merchandise-item">
			<a routerLink="/products" [queryParams]="{catalog:'drum-kit'}">
				<div class="merchandise-image-container">
					<img class="merchandise-image" src="../../beats/assets/imgs/drum.png" alt="Drum Kit">
				</div>
				<div class="merchandise-type">
					<div class="merchandise-image-overlay"><p>DRUM KIT</p></div>
				</div>
			</a>
		</li>
		<li class="merchandise-item">
			<a routerLink="/products" [queryParams]="{catalog:'loops'}">
				<div class="merchandise-image-container">
					<img class="merchandise-image" src="../../beats/assets/imgs/loop.png" alt="Loops and Samples">
				</div>
				<div class="merchandise-type">
					<div class="merchandise-image-overlay"><p>LOOPS & SAMPLES</p></div>
				</div>
			</a>
		</li>
		<li class="merchandise-item">
			<a routerLink="/products" [queryParams]="{catalog:'midi-kit'}">
				<div class="merchandise-image-container">
					<img class="merchandise-image" src="../../beats/assets/imgs/midi.png" alt="Midi Kit">
				</div>
				<div class="merchandise-type">
					<div class="merchandise-image-overlay"><p>MIDI KIT</p></div>
				</div>
			</a>
		</li>
	</ul>
</div>